<section class="tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-allstatus">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-parallax tg-bgbookwehave" style="background: url(../../assets/images/parallax/bgparallax-01.jpg)">
                        <div class="tg-status">
                            <div class="tg-statuscontent">
                                <span class="tg-statusicon"><i class="fa fa-book" aria-hidden="true"></i></span>
                                <h2>Books we have<span *ngIf="books">{{books.length}} </span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-parallax tg-bgtotalmembers" style="background: url(../../assets/images/parallax/bgparallax-02.jpg)">
                        <div class="tg-status">
                            <div class="tg-statuscontent">
                                <span class="tg-statusicon"><i class="fa fa-user"></i></span>
                                <h2>Total members<span *ngIf="members">{{members.length}}</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-parallax tg-bghappyusers" style="background: url(../../assets/images/parallax/bgparallax-03.jpg)">
                        <div class="tg-status">
                            <div class="tg-statuscontent">
                                <span class="tg-statusicon"><i class='fa fa-heart'></i></span>
                                <h2>Happy users<span *ngIf="users">{{users}}</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
