<section
    class="elementor-section elementor-top-section elementor-element elementor-element-d812e9a home_b_author elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
    data-id="d812e9a" data-element_type="section"
    data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bef4e54"
            data-id="bef4e54" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-bb631f1 elementor-widget elementor-widget-elementskit-heading"
                    data-id="bb631f1" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div
                                class="ekit-heading elementskit-section-title-wraper text_right   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h3 class="elementskit-section-subtitle  ">1st Top author</h3>
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    About Author
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-60394b2 elementor-widget elementor-widget-elementskit-heading"
                    data-id="60394b2" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div
                                class="ekit-heading elementskit-section-title-wraper text_right   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    Davisd Plast
                                </h2>
                                <h3 class="ekit-heading--subtitle elementskit-section-subtitle  ">Style: Art, Books,
                                    Fiction</h3>
                                <div class="ekit-heading__description">
                                    <p>Quisque eleifend eu mi id dictum. Donec vel tortor sit amet libero ultrices
                                        varius. Fusce eget nibh nec enim egestas tempus. Vestibulum convallis odio
                                        aliquet. Nunc at urna fermentum dictum tincidunt orci, ultrices gravida sem
                                        aliquam sit amet. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-d1d09cc elementor-widget elementor-widget-elementskit-social-media"
                    data-id="d1d09cc" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-social-media.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <ul class="ekit_social_media">
                                <li class="elementor-repeater-item-52d24a8">
                                    <a href="#" class="2">

                                        <i aria-hidden="true" class="icon icon-instagram-2"></i>
                                    </a>
                                </li>
                                <li class="elementor-repeater-item-0dcb454">
                                    <a href="#" class="1">

                                        <i aria-hidden="true" class="icon icon-twitter-1"></i>
                                    </a>
                                </li>
                                <li class="elementor-repeater-item-c713426">
                                    <a href="#" class="2">

                                        <i aria-hidden="true" class="icon icon-snapchat-2"></i>
                                    </a>
                                </li>
                                <li class="elementor-repeater-item-1e84fdd">
                                    <a href="#" class="2">

                                        <i aria-hidden="true" class="icon icon-skype-2"></i>
                                    </a>
                                </li>
                                <li class="elementor-repeater-item-a2d232f">
                                    <a href="#" class="1">

                                        <i aria-hidden="true" class="icon icon-pinterest-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6ed0418"
            data-id="6ed0418" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-519d0cf img_effect elementor-widget elementor-widget-image"
                    data-id="519d0cf" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img width="361" height="481"
                            src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/Rectangle-1047.jpg"
                            class="attachment-large size-large" alt="" loading="lazy"
                            srcset="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/Rectangle-1047.jpg 361w, https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/Rectangle-1047-225x300.jpg 225w"
                            sizes="(max-width: 361px) 100vw, 361px" style="width:100%;height:133.24%;max-width:361px">
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f256e5d"
            data-id="f256e5d" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-df9e590 elementor-widget elementor-widget-elementskit-heading"
                    data-id="df9e590" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div
                                class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h3 class="elementskit-section-subtitle  ">Ceremony</h3>
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    The Awards
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-503c894 elementor-widget elementor-widget-image-gallery"
                    data-id="503c894" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="image-gallery.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-image-gallery">
                            <div id="gallery-1" class="gallery galleryid-1650 gallery-columns-3 gallery-size-full">
                                <figure class="gallery-item">
                                    <div class="gallery-icon landscape">
                                        <a data-elementor-open-lightbox="yes"
                                            data-elementor-lightbox-slideshow="503c894"
                                            data-elementor-lightbox-title="a3"
                                            href="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/a3.png"><img
                                                width="116" height="116"
                                                src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/a3.png"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                style="width:100%;height:100%;max-width:116px;"></a>
                                    </div>
                                </figure>
                                <figure class="gallery-item">
                                    <div class="gallery-icon portrait">
                                        <a data-elementor-open-lightbox="yes"
                                            data-elementor-lightbox-slideshow="503c894"
                                            data-elementor-lightbox-title="a1"
                                            href="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/a1.png"><img
                                                width="114" height="115"
                                                src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/a1.png"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                style="width:100%;height:100.88%;max-width:114px;"></a>
                                    </div>
                                </figure>
                                <figure class="gallery-item">
                                    <div class="gallery-icon landscape">
                                        <a data-elementor-open-lightbox="yes"
                                            data-elementor-lightbox-slideshow="503c894"
                                            data-elementor-lightbox-title="a2"
                                            href="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/a2.png"><img
                                                width="116" height="116"
                                                src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/a2.png"
                                                class="attachment-full size-full" alt="" loading="lazy"
                                                style="width:100%;height:100%;max-width:116px;"></a>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-0d78814 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
                    data-id="0d78814" data-element_type="section"
                    data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-52d7c4d"
                            data-id="52d7c4d" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-1f30fba img_effect  elementor-widget elementor-widget-image"
                                    data-id="1f30fba" data-element_type="widget"
                                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="164" height="232"
                                            src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/1-4.jpg"
                                            class="attachment-large size-large" alt="" loading="lazy"
                                            style="width:100%;height:141.46%;max-width:164px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-32c6979"
                            data-id="32c6979" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-644696b img_effect  elementor-widget elementor-widget-image"
                                    data-id="644696b" data-element_type="widget"
                                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="164" height="232"
                                            src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/2-3.jpg"
                                            class="attachment-large size-large" alt="" loading="lazy"
                                            style="width:100%;height:141.46%;max-width:164px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


<section
    class="elementor-section elementor-top-section elementor-element elementor-element-e937558 b_heading elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
    data-id="e937558" data-element_type="section"
    data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9603655"
            data-id="9603655" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-84d4bcc elementor-widget elementor-widget-elementskit-heading"
                    data-id="84d4bcc" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div
                                class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    Lastest Books
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-45846e5"
            data-id="45846e5" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-cc7e8e8 elementor-widget elementor-widget-elementskit-creative-button"
                    data-id="cc7e8e8" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-creative-button.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-btn-wraper">
                                <a href="#" class="ekit_creative_button ">
                                    <span class="ekit_creative_button_text">All Book</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-e5e7b6b home_seller elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container animated fadeInUp"
    data-id="e5e7b6b" data-element_type="section"
    data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-9c82751"
            data-id="9c82751" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-81f15dd img_effect ekit-equal-height-disable elementor-widget elementor-widget-elementskit-image-box"
                    data-id="81f15dd" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-image-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="elementskit-info-image-box ekit-image-box text-center simple-card">


                                <div class="elementskit-box-header image-box-img-center">

                                    <img width="300" height="430"
                                        src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/3-1.jpg"
                                        class="attachment-full size-full" alt="" loading="lazy"
                                        srcset="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/3-1.jpg 300w, https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/3-1-209x300.jpg 209w"
                                        sizes="(max-width: 300px) 100vw, 300px"
                                        style="width:100%;height:143.33%;max-width:300px;">
                                </div>

                                <div class="elementskit-box-body ekit-image-box-body">
                                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                        <h3 class="elementskit-info-box-title">


                                            Believe in yourself

                                        </h3>
                                        <div class="elementskit-box-style-content">
                                            Mark Galoway </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-aa391f9"
            data-id="aa391f9" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-cbe05f1 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-image-box"
                    data-id="cbe05f1" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-image-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="elementskit-info-image-box ekit-image-box text-center simple-card">


                                <div class="elementskit-box-header image-box-img-center">

                                    <img width="300" height="430"
                                        src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/4-2.jpg"
                                        class="attachment-full size-full" alt="" loading="lazy"
                                        srcset="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/4-2.jpg 300w, https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/4-2-209x300.jpg 209w"
                                        sizes="(max-width: 300px) 100vw, 300px"
                                        style="width:100%;height:143.33%;max-width:300px;">
                                </div>

                                <div class="elementskit-box-body ekit-image-box-body">
                                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                        <h3 class="elementskit-info-box-title">


                                            Believe in yourself

                                        </h3>
                                        <div class="elementskit-box-style-content">
                                            Mark Galoway </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-117f3aa"
            data-id="117f3aa" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-31b1295 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-image-box"
                    data-id="31b1295" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-image-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="elementskit-info-image-box ekit-image-box text-center simple-card">


                                <div class="elementskit-box-header image-box-img-center">

                                    <img width="300" height="430"
                                        src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/2-1.jpg"
                                        class="attachment-full size-full" alt="" loading="lazy"
                                        srcset="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/2-1.jpg 300w, https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/2-1-209x300.jpg 209w"
                                        sizes="(max-width: 300px) 100vw, 300px"
                                        style="width:100%;height:143.33%;max-width:300px;">
                                </div>

                                <div class="elementskit-box-body ekit-image-box-body">
                                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                        <h3 class="elementskit-info-box-title">


                                            Believe in yourself

                                        </h3>
                                        <div class="elementskit-box-style-content">
                                            Mark Galoway </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-45a603a"
            data-id="45a603a" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-dc34dc1 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-image-box"
                    data-id="dc34dc1" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-image-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="elementskit-info-image-box ekit-image-box text-center simple-card">


                                <div class="elementskit-box-header image-box-img-center">

                                    <img width="300" height="430"
                                        src="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/1-2.jpg"
                                        class="attachment-full size-full" alt="" loading="lazy"
                                        srcset="https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/1-2.jpg 300w, https://elementor.dostguru.com/cms/booktap/wp-content/uploads/2021/07/1-2-209x300.jpg 209w"
                                        sizes="(max-width: 300px) 100vw, 300px"
                                        style="width:100%;height:143.33%;max-width:300px;">
                                </div>

                                <div class="elementskit-box-body ekit-image-box-body">
                                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                        <h3 class="elementskit-info-box-title">


                                            Believe in yourself

                                        </h3>
                                        <div class="elementskit-box-style-content">
                                            Mark Galoway </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>